.ZH-tooltip {
    --ZH-popover-bg-color: var(--ZH-bg-color-overlay);
    --ZH-popover-font-size: var(--ZH-font-size-base);
    --ZH-popover-border-color: var(--ZH-border-color);
    --ZH-popover-padding: 12px;
    --ZH-popover-border-radius: 4px;
    display: inline-block;
}

.ZH-tooltip {
    .ZH-tooltip__popper {
        background: var(--ZH-popover-bg-color);
        border-radius: var(--ZH-popover-border-radius);
        border: 1px solid var(--ZH-popover-border-color);
        padding: var(--ZH-popover-padding);
        color: var(--ZH-text-color-regular);
        line-height: 1.4;
        text-align: justify;
        font-size: var(--ZH-popover-font-size);
        box-shadow: var(--ZH-box-shadow-light);
        word-break: break-all;
        box-sizing: border-box;
        z-index: 1000;

        #arrow,
        #arrow::before {
            position: absolute;
            width: 8px;
            height: 8px;
            box-sizing: border-box;
            background: var(--ZH-popover-bg-color);
        }

        #arrow {
            visibility: hidden;
        }

        #arrow::before {
            visibility: visible;
            content: '';
            transform: rotate(45deg);
        }

        &[data-popper-placement^='top']>#arrow {
            bottom: -5px;
        }

        &[data-popper-placement^='bottom']>#arrow {
            top: -5px;
        }

        &[data-popper-placement^='left']>#arrow {
            right: -5px;
        }

        &[data-popper-placement^='right']>#arrow {
            left: -5px;
        }

        &[data-popper-placement^='top']>#arrow::before {
            border-right: 1px solid var(--ZH-popover-border-color);
            border-bottom: 1px solid var(--ZH-popover-border-color);
        }

        &[data-popper-placement^='bottom']>#arrow::before {
            border-left: 1px solid var(--ZH-popover-border-color);
            border-top: 1px solid var(--ZH-popover-border-color);
        }

        &[data-popper-placement^='left']>#arrow::before {
            border-right: 1px solid var(--ZH-popover-border-color);
            border-top: 1px solid var(--ZH-popover-border-color);
        }

        &[data-popper-placement^='right']>#arrow::before {
            border-left: 1px solid var(--ZH-popover-border-color);
            border-bottom: 1px solid var(--ZH-popover-border-color);
        }
    }

    .fade-enter,
    .fade-leave {
        opacity: 1;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity var(--ZH-transition-duration);
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
}